In [1]:
import pandas as pd
import numpy as np

In [2]:
a= pd.Series([1,2,3,4,5,6,7,8,8,9,10]) # indices, valores

In [3]:
a

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      8
9      9
10    10
dtype: int64

In [4]:
a.size

11

In [5]:
a.dtype

dtype('int64')

In [6]:
a.shape

(11,)

In [7]:
a.index

RangeIndex(start=0, stop=11, step=1)

In [8]:
b=pd.Series([1,2,3,4,5,6,7,8,9,10], index=['a','b','c','d','e','f','g','h','i','j'], name='numerillos', dtype=float)
b

a     1.0
b     2.0
c     3.0
d     4.0
e     5.0
f     6.0
g     7.0
h     8.0
i     9.0
j    10.0
Name: numerillos, dtype: float64

In [9]:
placas = {
    'bogota':100,
    'cali':200,
    'barranquilla':300
    
}
pd.Series(placas)

bogota          100
cali            200
barranquilla    300
dtype: int64

In [10]:
c=pd.Series([1,2,np.nan,5])#valores nulos
c

0    1.0
1    2.0
2    NaN
3    5.0
dtype: float64

In [11]:
c.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [13]:
c[ c.isnull()]

2   NaN
dtype: float64

In [14]:
c[ c.notnull()]

0    1.0
1    2.0
3    5.0
dtype: float64

In [17]:
usuarios = {
    'usuarios': ['diego','felipe','juan'],
    'email': ['@example','@gmail','@hotmail'],
    'edad':[21,22,32],
    'status':[True, True, False]
}
    
    
usuarios
    
    #crear diccionario

{'usuarios': ['diego', 'felipe', 'juan'],
 'email': ['@example', '@gmail', '@hotmail'],
 'edad': [21, 22, 32],
 'status': [True, True, False]}

In [16]:
pd.DataFrame(usuarios)

  usuarios     email  edad  status
0    diego  @example    21    True
1   felipe    @gmail    22    True
2     juan  @hotmail    32   False

In [19]:
socio = pd.DataFrame(usuarios, index=['a','b','f'])
socio

  usuarios     email  edad  status
a    diego  @example    21    True
b   felipe    @gmail    22    True
f     juan  @hotmail    32   False

In [20]:
socio['usuarios']# ver una columna

a     diego
b    felipe
f      juan
Name: usuarios, dtype: object

In [22]:
socio['edad']['f']

32

In [23]:
socio.edad

a    21
b    22
f    32
Name: edad, dtype: int64

In [24]:
socio.edad.f

32

In [25]:
socio.columns

Index(['usuarios', 'email', 'edad', 'status'], dtype='object')

In [26]:
socio.values

array([['diego', '@example', 21, True],
       ['felipe', '@gmail', 22, True],
       ['juan', '@hotmail', 32, False]], dtype=object)

In [27]:
usuarios

{'usuarios': ['diego', 'felipe', 'juan'],
 'email': ['@example', '@gmail', '@hotmail'],
 'edad': [21, 22, 32],
 'status': [True, True, False]}

In [31]:
calificaciones = pd.Series(np.random.randint(5,10,3), index=['a','b','f']) # ingresar una nueva columna al dataframe
calificaciones

a    8
b    7
f    9
dtype: int32

In [32]:
socio['calificacion']=calificaciones
socio

  usuarios     email  edad  status  calificacion
a    diego  @example    21    True             8
b   felipe    @gmail    22    True             7
f     juan  @hotmail    32   False             9

In [33]:
socio.rename(
columns={'calificacion':'score'}
)#Cambiar el nombre de una columna

  usuarios     email  edad  status  score
a    diego  @example    21    True      8
b   felipe    @gmail    22    True      7
f     juan  @hotmail    32   False      9

In [34]:
socio

  usuarios     email  edad  status  calificacion
a    diego  @example    21    True             8
b   felipe    @gmail    22    True             7
f     juan  @hotmail    32   False             9

In [36]:
# para cambiar el nombre definitivamente

socio = socio.rename(
columns={'calificacion':'score'}
)
socio

  usuarios     email  edad  status  score
a    diego  @example    21    True      8
b   felipe    @gmail    22    True      7
f     juan  @hotmail    32   False      9

In [37]:
socio

  usuarios     email  edad  status  score
a    diego  @example    21    True      8
b   felipe    @gmail    22    True      7
f     juan  @hotmail    32   False      9

In [39]:
socio['status']

a     True
b     True
f    False
Name: status, dtype: bool

In [40]:
socio.status

a     True
b     True
f    False
Name: status, dtype: bool

In [41]:
del socio['score']
socio

  usuarios     email  edad  status
a    diego  @example    21    True
b   felipe    @gmail    22    True
f     juan  @hotmail    32   False